<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.edu.sjtu.dclab.freewifi"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="17"/>

    <!--JPush所需的权限-->
    <permission
            android:name="cn.edu.sjtu.dclab.freewifi.permission.JPUSH_MESSAGE"
            android:protectionLevel="signature"/>

    <!-- wifi 所需的权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <!-- 百度定位所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <!--允许应用读取低级别的系统日志文件 -->

    <!-- JPush 所需的权限 -->
    <uses-permission android:name="cn.edu.sjtu.dclab.freewifi.permission.JPUSH_MESSAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application android:name=".MainApplication"
                 android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher"
                 android:theme="@android:style/Theme.Light.NoTitleBar"
                 android:allowBackup="true">
        <!-- 这里替换百度地图的AK -->
        <meta-data android:name="com.baidu.lbsapi.API_KEY"
                   android:value="SqFYEiMjW3oV4rfoHic0kh59"/>
        <!-- 百度定位：在application标签中声明service组件,每个app拥有自己单独的定位service -->
        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote"></service>

        <activity android:name="MainActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".MainListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".web.MyWebView"/>
        <activity android:name=".geo.BDLocating"/>

        <activity android:name=".wxapi.WXEntryActivity" android:exported="true"/>
        <activity android:name=".test.WXLogin"/>
        <activity android:name=".test.WifiActivity"/>
        <activity android:name=".push.PushAty"/>
        <activity android:name=".push.MsgShowAty"/>


        <!-- JPush Required SDK核心功能-->
        <activity
                android:name="cn.jpush.android.ui.PushActivity"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="cn.edu.sjtu.dclab.freewifi"/>
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能-->
        <service
                android:name="cn.jpush.android.service.DownloadService"
                android:enabled="true"
                android:exported="false">
        </service>


        <!-- Required SDK 核心功能-->
        <service
                android:name="cn.jpush.android.service.PushService"
                android:enabled="true"
                android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER"/>
                <action android:name="cn.jpush.android.intent.REPORT"/>
                <action android:name="cn.jpush.android.intent.PushService"/>
                <action android:name="cn.jpush.android.intent.PUSH_TIME"/>

            </intent-filter>
        </service>

        <!-- Required SDK核心功能-->
        <receiver
                android:name="cn.jpush.android.service.PushReceiver"
                android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY"/>
                <!--Required  显示通知栏 -->
                <category android:name="cn.edu.sjtu.dclab.freewifi"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>

        </receiver>

        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver"/>

        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
                android:name=".push.MyReceiver"
                android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION"/>
                <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION"/>
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/>
                <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/>
                <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/>
                <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK"/>
                <!--Optional 用户接受Rich Push Javascript 回调函数的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION"/>
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="cn.edu.sjtu.dclab.freewifi"/>
            </intent-filter>
        </receiver>


        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="1c0bdf68225216fa3dee6be9"/>
        <!--  </>值来自开发者平台取得的AppKey-->
    </application>

</manifest>
